{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-text">
        <h2 class="dashboard-title">{% trans "Sign In to Inner Balance" %}</h2>
        <p>{% blocktrans %}Welcome! To manage your tasks and continue your journey to inner balance, please
            sign in. If you don’t have an account yet, <a class="custom-link" href="{{ signup_url }}">sign up
                here</a>.{% endblocktrans %}</p>
    </div>
    <div class="login-form">
        <form method="POST" action="{% url 'account_login' %}" class="login-form">
            {% csrf_token %}

            <div class="form-group">
                {{ form.login.label_tag }}
                {{ form.login }}
            </div>

            <div class="form-group">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <p><a href="{% url 'account_reset_password' %}" class="custom-link">Forgot your password?</a></p>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}

            <button type="submit" class="btn custom-btn">{% trans "Sign In" %}</button>
        </form>
    </div>
</div>
{% endblock %}