{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="signup-container">

    <div class="signup-text">
        <h2>{% trans "Create Your Account" %}</h2>
        <p>{% blocktrans %}Start your journey to inner balance. Track your wellness goals and stay motivated every
            day.{% endblocktrans %}</p>
        <p>❗Your daily water goal is set to 8 cups and your sleep goal to 8 hours by default. You can change these
            anytime on your Profile page.</p>
        <p>{% blocktrans %}Already have an account? <a class="custom-link" href="{{ login_url }}"
                aria-label="Login link">Login
                here</a>.{% endblocktrans %}</p>
    </div>

    <div class="signup-form">
        <form method="POST" action="{% url 'account_signup' %}" class="login-form" novalidate>
            {% csrf_token %}

            {% for field in form %}
            {% if field.name != "email" %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}

                {% if field.help_text %}
                {{ field.help_text }}
                {% endif %}

                {% for error in field.errors %}
                <div class="error-message">{{ error }}</div>
                {% endfor %}
            </div>
            {% endif %}
            {% endfor %}

            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}

            <button type="submit" class="custom-btn">{% trans "Sign Up" %}</button>
        </form>
    </div>
</div>
{% endblock %}