/* Css Variable */
:root {
    --primary-font: "Instrument Serif", serif;
    --primary-color: #442818;
    /* rich brown color */
    --secondary-color: #7e533b;
    --highlight-color: #c2d2c2;
    /*eucalyptus color */
    --highlight-color-dark: #2D4739;
    /* deep green color */

}

/* General Styles */
html {
    color: var(--primary-color);
}

header {
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid rgba(91, 94, 91, 0.612);
}

body {
    min-height: 100vh;
    background-color: #DDE6DE;
    font-family: var(--primary-font);
    font-size: 1.3rem;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: var(--highlight-color);
    border-top: 1px solid rgba(83, 87, 83, 0.58);
    color: var(--primary-color);
    margin-top: 3rem;
    bottom: 0;
    z-index: 1;
}

div {
    box-sizing: content-box;
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    font-weight: 400;
    padding: 1rem;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}



/* Navbar Styles */
.logo {
    width: 15rem;
    height: 4rem;
}

.navbar {
    background-color: var(--highlight-color);
}

.navbar-brand {
    color: var(--primary-color)
}

.nav-link {
    color: var(--primary-color);
}


/* Home Page styles */

.banner-section {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-name {
    font-family: var(--primary-font);
    font-weight: 400;
}

.banner-image {
    width: 100vw;
    height: auto;
}

.banner-image img {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
}

#home-container {
    width: 80%;
    max-width: 1200px;
    color: var(--primary-color);
    font-family: var(--primary-font);
    line-height: 1.6;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    scroll-margin-top: 100px;
}

.banner-text {
    position: absolute;
    top: 8rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
}

.banner-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
}

.app-description,
.app-benefits {
    background-color: rgba(255, 255, 255, 0.326);
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.benefits-list {
    list-style: none;
    padding: 0;
}

#login-signup h3 {
    margin-top: 3rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

/* Dashboard styles*/

.title {
    letter-spacing: 2px;
    text-transform: uppercase;
}

.welcome-block {
    margin: 1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}


#overview-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 2rem 3rem;
    gap: 3rem;
    background-color: rgba(67, 132, 96, 0.135);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.delete-container,
.create-form-container {
    background: rgba(255, 255, 255, 0.479);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    line-height: 1.6;
    text-align: center;
}


/* Motivation */
#motivation {
    background-color: #f4f9f4;
    border: 1.5px solid #5cdb9785;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    position: relative;
    box-shadow: 0 7px 20px rgba(67, 210, 191, 0.356)
}

.motivation-text {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.progress-bar {
    width: 100%;
    max-width: 500px;
    height: 23px;
    background-color: #ffffff;
    border: 2px solid var(--highlight-color);
    border-radius: 50px;
    overflow: hidden;
    margin: 0 auto;
}

.progress-bar-fill {
    height: 100%;
    background-color: #5bd39386;
    width: 0%;
    border-radius: 40px;
}

#progress-percentage {
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

/* Task, Water, Sleep Cards Styles */

.tracker-card {
    width: 80%;
    margin: 1rem;
    max-width: 1000px;
    background: #ffffff64;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    transform: scale(1.07);
    transition: transform 0.4s ease-in-out;
}

#task {
    max-width: fit-content;
    min-width: 500px;
    padding: 1rem;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

.add-task {
    text-align: center;
}

.tracker-card:hover {
    transform: scale(1.1);
}

.task-title {
    display: block;
    max-width: 25rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group {
    width: 100%;
    max-width: 500px;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
    text-align: right;
}

.list-group.hidden-list {
    display: none !important;
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.list-group-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    color: var(--primary-color);
    border-bottom: 1px solid var(--highlight-color);
    background-color: white;
    border-radius: 10px;
    margin-bottom: 0.8rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.list-group-item a {
    font-size: 1.5rem;
    text-decoration: none;
}

.list-group-item a:hover {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--primary-color);
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

.add {
    text-align: right;
}

.custom-checkbox {
    accent-color: #5bd39386;
    min-width: 25px;
    height: 25px;
    margin-right: 10px;

}

.custom-checkbox:checked+.task-title {
    text-decoration: line-through;
}


.list-group {
    width: 100%;
    margin: 1rem auto;
}

.error-msg {
    color: rgb(189, 81, 81);
    ;
}

.water-progress-bar,
.sleep-progress-bar {
    width: 100%;
    max-width: 500px;
    height: 23px;
    background-color: #ffffff;
    border: 2px solid var(--highlight-color);
    border-radius: 50px;
    overflow: hidden;
    margin: 0 auto;
}

.sleep-progress-bar-fill,
.water-progress-bar-fill {
    height: 100%;
    background-color: #5bd39386;
    width: 0%;
    border-radius: 40px;
}

#water-progress-percentage,
#sleep-progress-procentage {
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.counter {
    margin: 2rem;
}

/* Delete/Edit Pages Styles */
.delete-container,
.create-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.delete-choices,
.create-choices {
    margin-top: 2rem;
}

.create-tasks h2,
.delete-form-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.create-tasks input,
.create-tasks textarea {
    width: 100%;
    padding: 1rem 1.2rem;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    font-size: 1.1rem;
    background-color: white;
}

/* Modal Styles */

.modal-title {
    padding-right: 10rem;
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-toggle {
    background-color: var(--highlight-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.dropdown-toggle:hover {
    border-radius: 10px !important;
    background-color: var(--secondary-color);
}

.dropdown-menu {
    background-color: white;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    min-width: 150px;
}

.dropdown-item {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

.dropdown-item:hover {
    background-color: var(--highlight-color);
}

.modal-content {
    position: relative;
}

.modal-dropdown {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
}

/* My Profile Styles */

#profile-card {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    padding: 2rem 3rem;
    background-color: rgba(67, 132, 96, 0.135);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#profile-card .form-group {
    background-color: #f4f9f4;
    border: 1.5px solid #5cdb9785;
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
    text-align: center;
    position: relative;
    box-shadow: 0 7px 20px rgba(67, 210, 191, 0.356);
}

.description-label {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 0.8rem;
    color: var(--primary-color);
    font-family: var(--primary-font);
}

#profile-card .form-group textarea {
    width: 100%;
    min-height: 140px;
    resize: vertical;
    padding: 0.8rem 1rem;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    background: #fff;
    font-size: 1rem;
    font-family: inherit;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

#motivation .custom-btn {
    display: block;
    margin: 1rem auto 0;
}

/* Login Page Styles */

.login-container,
.signup-container,
.logout-container,
.create-tasks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.signup-container ul {
    list-style: none;
    padding: 0;
}


.signup-container h2,
.logout-container h2,
.login-container h2,
.create-tasks h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.signup-container p,
.logout-container p,
.login-container p,
.create-tasks p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: var(--primary-color);
    line-height: 1.7;
    text-align: center;
}

.signup-container input,
.logout-container input,
.signup-container select,
.signup-container textarea,
.create-tasks input,
.create-tasks textarea {
    width: 100%;
    padding: 1rem 1.2rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    background-color: white;
    font-size: 1.1rem;
}

.login-container input {
    padding: 1rem 1.2rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    background-color: white;
    font-size: 1.1rem;
}

.form-group,
.form-check,
.signup-form {
    padding: 1rem;
    text-align: center;
}

.error-message {
    color: red;
    font-size: 0.9rem;
    margin: 2rem;
    list-style: none;
    text-align: center;
}

/* Custom Buttons Styles */

.nav-btn {
    font-size: 1.3rem;
    margin: 0 1rem;
    padding: 1rem;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.nav-btn:hover {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: 0 6px 12px var(--primary-color);
}


.custom-btn {
    max-width: 250px;
    width: 100%;
    background-color: var(--highlight-color);
    color: var(--primary-color);
    padding: 0.7rem 2.2rem;
    border-radius: 20px;
    font-family: var(--primary-font);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
    border: none;
    transition: all 0.3s ease;
}

.btn-start {
    max-width: fit-content;
}

.btn-add {
    margin-top: 1rem;
    max-width: fit-content;
}

.custom-btn:hover {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: 0 6px 12px var(--primary-color);
}

.login-btn,
.logout-btn {
    padding: 0.9rem 2rem;
    font-size: 1.3rem;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.login-btn:hover,
.logout-btn:hover {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: 0 6px 12px var(--primary-color);
}

.login-container .custom-btn {
    display: block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
}

.logout-container .custom-btn {
    width: 100%;
    max-width: 280px;
    display: block;
}

.btn-danger {
    background-color: rgb(189, 81, 81);
}

.modal-closing {
    max-width: fit-content;
    margin-left: 1rem;
    font-size: 1rem;
}

/* Custom Links Styles */
.custom-link {
    color: var(--highlight-color-dark);
}

.custom-link:hover {
    color: var(--secondary-color);
}

.arrow-link {
    color: rgb(222, 229, 213);
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}

.arrow-link:hover {
    /* growing effect */
    transform: scale(1.2);
    transition: transform 0.3s ease;
}