/* Css Variable */
:root {
    --primary-font: "Instrument Serif", serif;
    --primary-color: #4B2E1E;
    /* rich brown color */
    --secondary-color: #7C4F36;
    --highlight-color: #c2d2c2;
    /*eucalyptus color */
    --highlight-color-dark: #2D4739;
    /* deep green color */

}

/* General Styles */

header {
    position: fixed;
    width: 100%;
    z-index: 2;
    border-bottom: 1px solid var(--highlight-color);
}

body {
    min-height: 100vh;
    background-color: #DDE6DE;
    font-family: var(--primary-font);
    font-size: 1.3rem;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.1rem;
    background-color: var(--highlight-color);
    color: var(--primary-color);
    margin-top: 3rem;
    border-top: 1px solid var(--highlight-color);
    bottom: 0;
    z-index: 1;
}

div {
    box-sizing: content-box;
}

h1,
h2,
h3 {
    font-family: var(--primary-font);
    font-weight: 400;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
}

#main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8rem;
}



/* Navbar Styles */
.navbar {
    background-color: var(--highlight-color);
}


/* Home Page styles */

.banner-section {
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-name {
    font-family: var(--primary-font);
    font-weight: 400;
}

.banner-image {
    width: 100vw;
    height: auto;
}

.banner-image img {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
}

#home-container {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    color: var(--primary-color);
    font-family: var(--primary-font);
    line-height: 1.6;
    text-align: center;
}

.banner-text {
    position: absolute;
    top: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 1.8rem;
}

.banner-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0.5rem;
    width: 100%;
}

.app-description,
.app-benefits {
    background-color: rgba(255, 255, 255, 0.326);
    padding: 3rem 4rem;
    margin-bottom: 3rem;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.benefits-list {
    list-style: none;
}

#login-signup h3 {
    margin-top: 3rem;
    margin-bottom: 0;
    padding-bottom: 0.5rem;
}

/* Dashboard styles*/

.title {
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    display: flex;
    align-items: center;
    margin: 1rem;
}

#dashboard-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1200px;
    padding: 2rem 3rem;
    gap: 8rem;
    background-color: rgba(255, 255, 255, 0.395);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-container,
.delete-container,
.create-form-container {
    background: rgba(255, 255, 255, 0.479);
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 1.5rem;
    line-height: 1.6;
    text-align: center;
}

.form-container form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin: 2rem auto;
}

.form-container input,
.form-container textarea {
    padding: 1rem;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    font-size: 1.1rem;
    background-color: white;
}

/* Task List */
.dropdown {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}


.list-group {
    width: 100%;
    max-width: 600px;
    list-style: none;
    padding: 0;
    margin-top: 2rem;
}

.list-group-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.2rem;
    border-bottom: 1px solid var(--highlight-color);
    background-color: white;
    border-radius: 10px;
    margin-bottom: 0.8rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}


.dropdown {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.dropdown-toggle {
    background-color: var(--highlight-color);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.dropdown-menu {
    background-color: white;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    min-width: 150px;
}

.list-group-item a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--highlight-color-dark);
}

.list-group-item a:hover {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--secondary-color);
}

.dropdown-item {
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    color: var(--primary-color);
    text-decoration: none;
}

.dropdown-item:hover {
    background-color: var(--highlight-color);
    color: white;
}

.list-group-item input[type="checkbox"] {
    accent-color: #537462;
    width: 25px;
    height: 25px;
    margin-right: 10px;
}


.list-group {
    width: 100%;
    margin: 1rem auto;
}

.error-msg {
    color: rgb(189, 81, 81);
    ;
}

/* Delete/Edit Pages Styles */
.delete-container,
.create-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.delete-choices,
.create-choices {
    margin-top: 2rem;
}

.create-form-container h2,
.delete-form-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.create-form-container input,
.create-form-container textarea {
    width: 100%;
    padding: 1rem 1.2rem;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    font-size: 1.1rem;
    background-color: white;
}

/* Modal Styles */

.modal-content {
    position: relative;
}

.modal-dropdown {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
}

.dropdown-button {
    justify-content: flex-start !important;
    padding-left: 1.5rem;
}


/* Login Page Styles */

.login-container,
.signup-container,
.logout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.signup-container h2,
.logout-container h2,
.login-container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.signup-container p,
.logout-container p,
.login-container p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: var(--primary-color);
    line-height: 1.7;
    text-align: center;
}

.signup-container input,
.logout-container input,
.signup-container select,
.signup-container textarea {
    width: 100%;
    padding: 1rem 1.2rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    background-color: white;
    font-size: 1.1rem;
}

.login-container input {
    padding: 1rem 1.2rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--highlight-color);
    border-radius: 10px;
    background-color: white;
    font-size: 1.1rem;
}

.form-group,
.form-check {
    padding: 1rem;
}

/* Custom Buttons Styles */

.nav-btn {
    font-size: 1.3rem;
    margin: 0 1rem;
    padding: 1rem;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.nav-btn:hover {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: 0 6px 12px var(--primary-color);
}


.custom-btn {
    max-width: 250px;
    width: 100%;
    background-color: var(--highlight-color);
    color: var(--primary-color);
    padding: 0.7rem 2.2rem;
    border-radius: 20px;
    font-family: var(--primary-font);
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0.7rem;
    font-size: 1.3rem;
    border: none;
    transition: all 0.3s ease;
}

.btn-start {
    max-width: fit-content;
}

.custom-btn:hover {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: 0 6px 12px var(--primary-color);
}

.login-btn,
.logout-btn {
    padding: 0.9rem 2rem;
    font-size: 1.3rem;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.login-btn:hover,
.logout-btn:hover {
    background-color: var(--highlight-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    box-shadow: 0 6px 12px var(--primary-color);
}

.login-container .custom-btn {
    display: block;
    margin: 0 auto;
    padding: 0.9rem 2.5rem;
}

.logout-container .custom-btn {
    width: 100%;
    max-width: 280px;
    display: block;
}

.btn-danger {
    background-color: rgb(189, 81, 81);
}

/* Custom Links Styles */
.custom-link {
    color: var(--highlight-color-dark);
}

.custom-link:hover {
    color: var(--secondary-color);
}

.arrow-link {
    display: flex;
    justify-content: center;
    color: rgb(222, 229, 213);
    font-size: 2rem;
    text-decoration: none;
    cursor: pointer;
}

.arrow-link:hover {
    /* growing effect */
    transform: scale(1.2);
    transition: transform 0.3s ease;
}