{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - INNER BALANCE {% endblock %}

{% block content %}
<div id="dashboard-container">
    <h1 class="title">Dashboard</h1>

    <div class="form-container">

        {% if task_count < 5 %}
        <p class="user-status">You are currently not logged in.</p>
        <p>You need to create at least 5 task to begin your jorney.</p>

        {% if messages %}
        <div class="message-block">
            {% for message in messages %}
            <div
                class="{% if message.tags == 'success' %}success-msg{% elif message.tags == 'error' %}error-msg{% else %}info-msg{% endif %}">
                {{ message }}</div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ task_form.as_p }}
            <button type="submit" class="custom-btn">Add Task</button>
        </form>

        <p>You’ve created {{ task_count }} of 5 tasks.</p>
        {% else %}
        <p class="user-status">Welcome, {{ user.username }}!</p>
        <h3>Your Daily Tasks:</h3>
        <li class="dropdown-list">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle no-caret" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#task-form">Add</a></li>
                    <li><a class="dropdown-item" href="{% url 'tracker:task_edit' task.pk %}">Edit</a></li>
                    <li><a class="dropdown-item" href="{% url 'tracker:task_delete' task.pk %}">Delete</a></li>
                </ul>
            </div>
        </li>
        <ul class="list-group">
            {% for task in tasks %}
            <li class="list-group-item">
                <input type="checkbox" {% if task.is_completed %}checked{% endif %}>
                {{ task.title }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}