{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - INNER BALANCE{% endblock %}

{% block content %}
<div id="dashboard-container">
    <h1 class="title">Dashboard</h1>

    <div class="form-container">

        {% if task_count < 5 %}
        <p class="user-status">You are logged in as {{ user.username }}.</p>
        <p>You need to create at least 5 tasks to begin your journey.</p>

        {% if messages %}
        <div class="message-block">
            {% for message in messages %}
            <div
                class="{% if message.tags == 'success' %}success-msg{% elif message.tags == 'error' %}error-msg{% else %}info-msg{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ task_form.as_p }}
            <button type="submit" class="custom-btn">Add Task</button>
        </form>

        <p>You’ve created {{ task_count }} of 5 tasks.</p>

        {% else %}
        <p class="user-status">Welcome, {{ user.username }}!</p>
        <h3>Your Daily Tasks:</h3>

        <!-- Task List -->
        <ul class="list-group">
            {% for task in tasks %}
            <li class="list-group-item">
                <input type="checkbox" {% if task.is_completed %}checked{% endif %}>
                <a href="#"
                    onclick="openTaskModal('{{ task.id }}', '{{ task.title|escapejs }}', '{{ task.description|escapejs }}')">
                    {{ task.title }}
                </a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

<!-- Task Opening Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 id="modal-title" class="modal-title">Task Title</h3>
            </div>

            <div class="modal-body">
                <p id="taskDescription">Task Description</p>
            </div>

            <div class="modal-footer justify-content-between">
                <div class="modal-dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="modalEditLink" class="dropdown-item" href="#">Edit</a></li>
                        <li><a id="modalDeleteLink" class="dropdown-item" href="#">Delete</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-outline-secondary dropdown-button"
                    data-bs-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

{% endblock %}