{% extends "base.html" %}
{% load static %}

{% block title %}My Profile - INNER BALANCE{% endblock %}

{% block content %}

<div id="profile-card">

    <!-- Profile Card -->

    <!-- Username -->
    <div class="welcome-block">
        <h1 class="title">{{ username }}</h1>
        <p>Make it yours — update your bio and goals.</p>
    </div>

    <!-- Form -->
    <form method="post">
        {% csrf_token %}

        <!-- Description -->
        <div class="form-group">
            <label for="description" class="description-label">Description:</label>
            <p id="description-text"> {{ description }}</p>
            <button type="button" id="desc-edit"
                class="custom-btn btn-add {% if not description %}is-hidden{% endif %}">
                Edit
            </button>
            {% if not description %}
            <textarea id="description" name="description" maxlength="500" rows="4"
                placeholder="Write something about yourself...">{{ description }}</textarea>
            {% endif %}
            <button type="submit" class="custom-btn btn-add" id="description-button"
                onclick="saveDescription(event)">Save</button>
        </div>

        <!-- Goals block -->
        <div id="motivation">
            <p class="motivation-text">Your Goals:</p>
            <div class="list-group">
                <div class="list-group-item">
                    <label for="water_goal">💧 Water goal (glasses)</label>
                    <input type="number" id="water_goal" name="water_goal" min="0" max="20" value="{{ water_goal }}">
                </div>

                <div class="list-group-item">
                    <label for="sleep_goal">💤 Sleep goal (hours)</label>
                    <input type="number" step="0.5" id="sleep_goal" name="sleep_goal" min="0" max="20"
                        value="{{ sleep_goal }}">
                </div>
                <button type="submit" class="custom-btn btn-add">Save</button>
            </div>
    </form>
</div>
{% endblock %}