{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - INNER BALANCE{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div id="overview-container">

    <div class="welcome-block">
        <h1 class="title">Overview</h1>
        <p class="welcome-user">Welcome back, {{ user.first_name|default:user.username }}!</p>
    </div>

    <!-- Task List -->
    <div class="card tracker-card">
        <h3>📝 Daily Tasks</h3>
        <div id="motivation">
            <p id="motivation-text" class="motivation-text"></p>
            <p id="progress-percentage"></p>
            <div class="progress-bar">
                <div class="progress-bar-fill"></div>
            </div>
        </div>

        <form method="POST" action="{% url 'tracker:update_tasks' %}" id="task-form">
            {% csrf_token %}
            <div id="task">
                <form method="POST" action="{% url 'tracker:update_tasks' %}" id="task-form">
                    {% csrf_token %}
                    <h3>Task List:</h3>
                    <span class="toggle-arrow"><i class="fa-solid fa-chevron-up"></i></span>
                    <ul class="list-group">
                        {% for task in tasks %}
                        <li class="list-group-item">
                            <input type="checkbox" name="task_{{ task.id }}" class="custom-checkbox"
                                onchange="document.getElementById('task-form').submit();"
                                {% if task.is_completed %}checked{% endif %}>
                            <span class="task-title"
                                onclick="openTaskModal('{{ task.id }}','{{ task.title|escapejs }}', '{{ task.description|escapejs }}')">
                                {{ task.title }}
                            </span>
                        </li>
                        {% endfor %}
                        <div class="add-task">
                            <a href="{% url 'tracker:task_create' %}" class="btn custom-btn btn-add"> + Add</a>
                        </div>
                    </ul>
                </form>
            </div>
    </div>

    <!--Water Card-->
    <div class="card tracker-card">
        <h3>💧 Water</h3>
        <div id="motivation">
            <p class="motivation-text" id="water-motivation"></p>
            <p id="water-progress-percentage"></p>
            <div class="water-progress-bar">
                <div class="water-progress-bar-fill"></div>
            </div>
        </div>

        <form method="POST" action="{% url 'tracker:update_water_sleep' %}">
            {% csrf_token %}
            <div class="counter">
                <i class="fa-solid fa-glass-water"></i>
                <button type="button" onclick="updateWater(-1)"><i class="fa-solid fa-minus"></i></button>
                <input type="hidden" name="water" id="water-input" value="{{ water_count|default:0 }}">
                <span id="water-count">{{ water_count|default:0 }}</span>
                / <span id="water-goal">{{ water_goal }}</span>
                <button type="button" onclick="updateWater(1)"><i class="fa-solid fa-plus"></i></button>
            </div>
            <button type="submit" class="custom-btn btn-add">Save</button>
        </form>
    </div>


    <!--Sleep Card-->
    <div class="card tracker-card">
        <h3>💤 Sleep</h3>
        <div id="motivation">
            <p class="motivation-text" id="sleep-motivation"></p>
            <p id="sleep-progress-percentage"></p>
            <div class="progress-bar">
                <div class="sleep-progress-bar-fill"></div>
            </div>
        </div>

        <form method="POST" action="{% url 'tracker:update_water_sleep' %}">
            {% csrf_token %}
            <div class="counter">
                <input type="number" step="0.5" min="0" name="sleep" id="sleep-input"
                    value="{{ sleep_count|default:'' }}" placeholder="e.g. 6"> / <span
                    id="sleep-goal">{{ sleep_goal}}</span>
                <span>hours</span>
            </div>
            <button type="submit" class="custom-btn btn-add">Save</button>
        </form>
    </div>
</div>


<!-- Task Opening Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h3 id="modal-title" class="modal-title">Task Title</h3>
            </div>

            <div class="modal-body">
                <p id="taskDescription">Task Description</p>
            </div>

            <div class="modal-choices">
                <div class="modal-dropdown">
                    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown">
                        <i class="fa-solid fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a id="modalEditLink" class="dropdown-item" href="#">Edit</a></li>
                        <li><a id="modalDeleteLink" class="dropdown-item" href="#">Delete</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-outline-secondary custom-btn modal-closing"
                    data-bs-dismiss="modal">Close</button>
            </div>

        </div>
        {% endif %}
        {% endblock %}