{% extends 'base.html' %}
{% load static %}

{% block banner %}
<!-- Banner Image -->
<section class="banner-section">
    <div class="banner-text">
        <h1>ORGANIZE YOUR DAY</h1>
        <p>Find balance between work and life with easy and effective daily tracking.</p>
    </div>
    <div class="banner-bottom">
        {% if not user.is_authenticated %}
        <a href="{% url 'account_signup' %}" class="custom-btn" aria-label="Sign Up">Get Started</a>
        {% endif %}
        <a href="#home-container" class="arrow-link" aria-label="Scroll down">
            <i class="fa-solid fa-chevron-down"></i>
        </a>
    </div>
</section>

{% endblock %}

{% block content %}

<section id="home-container">
    <!-- Description Section -->
    <div class="app-description">
        <h2>Welcome to <span class="project-name">INNER BALANCE</span></h2>
        <p>
            Inner Balance is your personal wellness tracker designed to help you create healthy habits effortlessly.
            Whether you're tracking daily tasks, water intake, or sleep quality, our app provides simple tools and
            motivating feedback.
            What makes Inner Balance special is its focus on balance and mindfulness — not just tracking, but helping
            you grow sustainably.
        </p>
    </div>

    <div class="app-benefits">
        <h3>Why Choose <span class="project-name">INNER BALANCE</span>?</h3>
        <ul class="benefits-list">
            <li>✔ Simple and intuitive daily tracking</li>
            <li>✔ Boosts motivation through gentle encouragement</li>
            <li>✔ Helps build consistent wellness habits</li>
            <li>✔ Balances productivity and mindfulness</li>
            <li>✔ Visual insights into your progress</li>
        </ul>
        {% if not user.is_authenticated %}
        <h3 id="sign-h">Ready to join?</h3>
        <p id="sign-p"><a href="{% url 'account_signup' %}" class="signup-link custom-link"
                aria-label="Signup link">Sign up</a> if you want
            to register
            or
            <a href="{% url 'account_login' %}" class="login-link custom-link" aria-label="Login link">log in</a> if you
            already have an
            account.
            {% endif %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}
    </div>
</section>
{% endblock %}